.page {
    display: flex;
    flex-direction: column;
}

.page-title {
    font-size: 40px;
    padding: 20px;
    height: 100px;
}

.map-container {
    display: flex;
}

.map-sidebar {
    width: 20%;
    padding: 20px 25px;
}

.leaflet-container {
    height: calc(100vh - 100px);
    width: 80%;
}