:root {
    --mapbox-strange-margin: 15px;
    --sidebar-width: 350px;
    --title-height: 100px;
}

.page {
    display: flex;
    flex-direction: column;
}

.page-title {
    font-size: 40px;
    padding: 20px;
    height: var(--title-height);
}

.map-container {
    display: flex;
}

.map-sidebar {
    width: var(--sidebar-width);
    padding: 20px 25px;
}

.leaflet-container,
.mapbox-container {
    height: calc(100vh - var(--title-height));
    width: calc(100% - var(--sidebar-width) - var(--mapbox-strange-margin));
}